<a href="https://colab.research.google.com/github/tdlima/desafio_projeto_py_mongo/blob/main/Desafio_Projeto_Py_Mongo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sqlite3

In [2]:
# Conexão com banco de dados
conn = sqlite3.connect('desafio_dio.db')

In [3]:
# Criando o cursor
cursor = conn.cursor()

In [4]:
# Obter os dados do usuário
nome = input("Informe o nome do cliente: ")
cpf = input("Informe o CPF: ")
endereco = input("Informe o endereço: ")

Informe o nome do cliente: Junior Lima
Informe o CPF: 06314748623
Informe o endereço: rua J, 56, Boa Vista

In [5]:
# Criando a tabela Cliente
cursor.execute("""
    CREATE TABLE IF NOT EXISTS Cliente (
        id INTEGER PRIMARY KEY,
        Nome TEXT,
        cpf TEXT,
        endereco TEXT
    )
""")

In [6]:
# Realizando a inserção dos dados
cursor.execute("""
    INSERT INTO Cliente (Nome, cpf, endereco)
    VALUES (?, ?, ?)
""", (nome, cpf, endereco))

In [7]:
# Comitando as alterações
conn.commit()

In [8]:
# Obter os dados da conta
id_cliente = cursor.lastrowid
id_conta = input("Informe o ID da conta: ")
tipo_conta = input("Informe o tipo de conta: ")
agencia = input("Informe a agência: ")
numero_conta = input("Informe o número da conta: ")
saldo = float(input("Informe o saldo: "))

Informe o ID da conta: 0312
Informe o tipo de conta: C/C
Informe a agência: 5624
Informe o número da conta: 23540-6
Informe o saldo: 500

In [9]:
# Criando a tabela Conta
cursor.execute("""
    CREATE TABLE IF NOT EXISTS Conta (
        id_cliente INTEGER,
        id TEXT,
        tipo TEXT,
        agencia TEXT,
        numero INTEGER,
        saldo DECIMAL,
        FOREIGN KEY (id_cliente) REFERENCES Cliente (id)
    )
""")

In [10]:
# Realizando a inserção dos dados na tabela "Conta"
cursor.execute("""
    INSERT INTO Conta (id_cliente, id, tipo, agencia, numero, saldo)
    VALUES (?, ?, ?, ?, ?, ?)
""", (id_cliente, id_conta, tipo_conta, agencia, numero_conta, saldo))

In [11]:
# Comitando as alterações
conn.commit()

In [12]:
# Realizando consulta nas tabelas
cursor.execute('''
    SELECT Cliente.*, Conta.*
    FROM Cliente
    LEFT JOIN Conta ON Cliente.id = Conta.id_cliente
''')
resultados = cursor.fetchall()

In [16]:
# Imprimindo os resultados
print("Dados dos Clientes e suas Contas:")
for resultado in resultados:
    print("ID do Cliente:", resultado[0])
    print("Nome:", resultado[1])
    print("CPF:", resultado[2])
    print("Endereço:", resultado[3])
    if resultado[4] is not None:
        print("ID da Conta:", resultado[5])
        print("Tipo de Conta:", resultado[6])
        print("Agência:", resultado[7])
        print("Número da Conta:", resultado[8])
        print("Saldo:", resultado[9])
    else:
        print("Cliente não possui conta associada")
    print("-------------------------")

Dados dos Clientes e suas Contas:
ID do Cliente: 1
Nome: Junior Lima
CPF: 06314748623
Endereço: rua J, 56, Boa Vista
ID da Conta: 0312
Tipo de Conta: C/C
Agência: 5624
Número da Conta: 23540-6
Saldo: 500
-------------------------

In [17]:
# Fechando a conexão
conn.close()